<h1>Leafly: About Us</h1>

<p>This site went live, April 28, 2015.. an idea by Ryan Po, and hopefully it will make him tons of suede bucks one day, see ya</p>

<%= link_to image_tag("http://imagizer.imageshack.us/v2/640x480q90/911/HgNveN.jpg
"), "http://www.imageshack.com" %>


